* {
  box-sizing: border-box;
  font-size: 24px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 138, 138);
}

.calculator-container {
  display: grid;
  width: 40vw;
  height: 60vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.userInput {
  grid-area: 1 / 1 / 2 / 5;
  text-align: right;
  color: white;
  background-color: black;
  padding-right: 12px;
}

.operation-btn {
  grid-area: auto;
}

.calculate-btn {
  grid-area: 3 / 4 / 7 / 5;
}